a {
  text-decoration: none;
}


/* nav icons */
a img {
  width: 50px;
}


/* style search box and icon */
.input-icons i { 
  position: absolute; 
  margin-left: -10px;
} 

.input-icons { 
  width: 100%; 
  margin-bottom: 10px; 
} 

.icon { 
  padding: 15px; 
  min-width: 60px; 
} 

.input-field { 
  text-align: center;
  border-radius: 25px;
  width: 100px;
  margin-bottom: 30px; 
} 


/* black horizontal lines */
hr.header-footer-hr {
  border-top: 3px solid black;
}


/* footer styles */
footer {
  background-color: #c1c1c1;  
  height: 25px;
  width: 100%;
}


/* content-header
.content-header {
  margin-left: 0px;
} */


/* container */
.container {
  display: block;
  margin 0 auto;
  float: none;
}

/* content box
@media screen and (max-width: 991px) and (min-width: 768px) {
.content-box {
 float: none !important;
 display: block;
 margin: 0 auto;
}
@media screen and (min-width: 992px) {
.content-box {
  float: none !important;
  display: block;
  margin: 0 auto;
 }
}
} */


@media screen and (max-width: 991px) and (min-width: 768px) {
  .col-sm-4 {
    float: none !important;
    display: block;
    margin: 0 auto;
    ;
    }
    @media screen and (min-width: 992px) {
      .col-sm-4 {
        float: none !important;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        }
  } 


    /* center content box */
    .content-header {
      margin-left: 50px;
    }
  
    .content-body {
      margin-left: 65px;
    }


/* mockup 2 center image */
.center {
  margin: auto;
  width: 70%;
  padding: 10px;
}


/* style boxes around mockup 3 text */
.boxed-pets {
  border: 2px solid black ;
  width: 120px;
  margin-left: auto;
  margin-top: 0px;
}

.boxed-cities {
  border: 2px solid black ;
  width: 120px;
  margin-left: 25px;
  margin-top: 23px;
}


/* boxed button on mockup 3 */
.boxed-button {
  border: 2px solid black ;
  width: 183px;
  margin-left: 35px;
  margin-top: 15px;
}


/* form fields on mockup 4 */
.information-input {
  margin-left:50px;
  margin-top: 9px;
}


/* styles for table on mockup 5 */
.table {
  border: 1px solid black;
  width: 450px;
  margin-left: 25px;
  margin-top: 10px;
}

.table thead th {
  border-top: 2px solid #000!important;
  border-bottom: 0px solid #000!important;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}

.table td {
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: none!important;
}


